{% extends "base.html" %}
{% block title %}Forgot Password{% endblock %}
{% import 'components/macros.html' as components %}

{% block content %}
<div class="w-full md:w-1/2 px-6 py-10 mx-auto mt-[10vh] min-h-[77vh]">
    <div class="flex justify-center mb-4">
      <img src="{{ url_for('static', filename='images/logo.png') }}" alt="DTPx Logo" class="h-12" />
    </div>
    <h2 class="text-center text-3xl font-semibold mb-3">Reset your password</h2>
    <p class="text-center">Enter your email address and we’ll send you password<br>reset instructions.</p>

    <!-- Flash messages -->
    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        {% for category, message in messages %}
          {{ components.flash_message(category, message) }}
        {% endfor %}
      {% endif %}
    {% endwith %}
    

    <form method="POST" action="{{ url_for('auth.forgot_password') }}" class="space-y-4 mt-8">
      {{ form.hidden_tag() }}

      <div class="mb-4">
        {{ form.email.label(class="block text-sm font-medium text-gray-700 mb-4") }}
        {{ form.email(class=components.input_classes(form.email), placeholder="Input your registered email") }}
        {{ components.field_errors(form.email) }}
        {{ components.field_success(form.email) }}
      </div>

      <div class="mt-4 flex flex-col gap-4">
        {{ form.submit(class=components.button_classes()) }}
        <a href="{{ url_for('auth.login') }}" class="{{ components.button_classes_secondary() }}">Back to Login</a>
      </div>
    </form>  
</div>      


<footer class="text-xs text-center mt-6 text-gray-500">
  © 2025 <strong>Digital Therapeutix</strong>. All rights reserved. 
  <a href="#" class="underline mx-1">Terms & Conditions</a> | 
  <a href="#" class="underline ml-1">Privacy Policy</a>
</footer>
{% endblock %}
